html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
}

.nav a,
.title a,
.scroll-list a {
  text-decoration: none;
  color: #000000;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.reasons h2 {
  font-size: inherit;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.reasons-item {
  display: flex;
  flex-wrap: wrap;
}

.reasons-item ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.reasons-item-blue {
  width: 400px;
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item-img {
  background-color: #cccccc;
  height: 100%;
}

.reasons-item-gray {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 33.3%;
  background-color: #eeeeee;
}

.reasons-sublist li {
  width: 33.3%;
}

.offers {
  position: relative;
}

.offers >  p {
  text-align: center;
}

.reasons-descr {
  color: #333333;
}

img {
  max-width: 100%;
}

.title {
  font-size: 21px;
  font-weight: 700;
  margin-top: 35px;
}

.maincontent > .title {
  text-align: center;
}

.title-result {
  margin: 0;
}

.title-result:hover,
.title-result:focus {
  color: #81b3d2;
}

.title-result:active {
  color: rgba(0, 0, 0, 0.3);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 530px;
  background-color: #cccccc;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.nav-item {
  text-align: center;
  width: 220px;
  min-height: 56px;
}

.nav-item:nth-child(n+2):nth-child(-n+3) {
  width: 350px;
}

.nav-item:nth-child(2) .nav-link {
  text-align: left;
  padding-left: 70px;
}

.nav-item:nth-child(3) .nav-link {
  text-align: right;
  padding-right: 70px;
}

.nav-link {
  display: block;
  padding: 15px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #81b3d2;
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.link-active{
  color: #766357;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 25px;

}

.filter {
  color: #ffffff;
  background-color: #3d3d3d;
  background-image: url("../img/bg-filter.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3d3d3d;
  border: none;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-trigger,
.button-reservation {
  background-color: #766357;
}

.button-trigger {
  display: block;
  width: 568px;
  margin: 0 auto;
}

.button-trigger:hover,
.button-trigger:focus,
.button-reservation:hover,
.button-reservation:focus {
  background-color: #604e43;
}

.button-reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-search,
.button-details {
  background-color: #81b3d2;
}

.button-trigger {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 40px;
  padding: 30px 0;
}

.button-search {
  display: block;
  width: 100%;
  height: 58px;
  margin: 30px auto 0;
  font-size: 21px;
  font-weight: 700;
}

.button-search:hover,
.button-search:focus,
.button-details:hover,
.button-details:focus  {
  background-color: #669ec0;
}

.button-search:active,
.button-details:active {
  background-color: #5496bd;
}

.button-filter {
  background-color: transparent;
}

.button-filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.form-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  width: 568px;
  margin: 0 auto;
  margin-left: -284px;
  padding: 55px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.form-item {
  position: relative;
  display: block;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.form-item label {
  display: inline-block;
  vertical-align: baseline;
  width: 100px;
}

.form-item input[type="text"],
.form-item button {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.form-item input[type="text"]:hover,
.form-item button:hover {
  background-color: #ebebeb;
}

.form-item input[type="text"]:focus,
.form-item button:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

input.checkin,
.checkout {
  width: 346px;
  margin-left: 8px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 45px;
}

.input-people {
  width: 38px;
  height: 38px;
  text-align: center;
}

.item-people {
  display: flex;
  align-items: center;
}

label.label-adults,
label.label-childern {
  width: 80px;
  margin-right: 30px;
}

label.label-childern {
  text-align: right;
}

button.button-calendar {
  display: block;
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 0;
  width: 22px;
  height: 23px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  cursor: pointer;
}
button.button-calendar:hover,
button.button-calendar:focus {
  border: none;
  opacity: 0.6;
}

button.button-remove,
button.button-add {
  position: relative;
  width: 38px;
  height: 38px;
  font-size: 0;
  cursor: pointer;
}

button.button-remove:active,
button.button-add:active {
  opacity: 0.5;
}

.button-remove::after,
.button-add::after,
.button-remove::before,
.button-add::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  background-color: #a9a9a9;
}

.button-remove::after,
.button-add::after {
  width: 12px;
  height: 2px;
  margin-left: -6px;
  margin-top: -1px;
}

.button-add::before {
  width: 2px;
  height: 12px;
  margin-top: -6px;
  margin-left: -1px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  opacity: 0.9;
}

.footer-tel {
  display: block;
}

.social,
.result-list,
.sort-list,
.scroll-list,
.filter-list {
  list-style: none;
  padding: 0;
}

.social {
  display: flex;
  align-items: center;
}

.social-item {
  background-color: #81b3d2;
  margin: 3px;
  height: 48px;
}
 
.social-link {
  display: block;
  width: 46px;
  height: 100%;
  font-size: 0;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-tw {
  background-image: url("../img/twitter.svg");
}

.social-link-fb {
  background-image: url("../img/fb-icon.svg")
}

.social-link-yt {
  background-image: url("../img/youtube.svg")
}

.social-link:hover,
.social-link:focus {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
  opacity: 0.3;
}

.author {
  display: flex;
  align-items: center;
}
.author-link,
.logo-htmlacademy {
  width: 115px;
  height: 41px;
  margin-left: 5px;
}

.author-link:hover .logo-htmlacademy path {
  fill: #81b3d2;
}

.author-link:active .logo-htmlacademy path {
  fill: #bdbbbc;
}

.rating-wrapper {
  margin-left: auto;
}

.rating {
  background-color: #f2f2f2;
  color: #666666;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted;
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:active {
  color: #000000;
  border: none;
}

.result-item {
  display: flex;
}

.result-description {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
}

.result-description > p {
  flex-grow: 1;
  flex-shrink: 0;
}
.result-description > a {
  flex-grow: 0;
}

.result-text > p {
  display: inline-block;
}

.filter-form {
  display: flex;
}

.filter-list ul {
  list-style: none;
}

.filter-range {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filter-nav {
  display: flex;
}

.sort-list > li,
.scroll-list > li {
  display: inline-block;
}

.scroll-list {
  margin-left: auto;
}