html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.nav a,
.title a,
.scroll-list a {
  text-decoration: none;
  color: #000000;
}

.reasons h2 {
  font-size: inherit;
  font-weight: 400;
}

.reasons-item-blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item-img {
  background-color: #cccccc
}

.reasons-item-gray {
  background-color: #eeeeee;
}

.reasons-descr {
  color: #333333;
}

img {
  max-width: 100%;
}

.title {
  font-size: 21px;
  font-weight: 700;
}

.title-result:hover,
.title-result:focus {
  color: #81b3d2;
}

.title-result:active {
  color: rgba(0, 0, 0, 0.3);
}

.banner {
  background-color: #cccccc;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-list {
  list-style: none;
  font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
  color: #81b3d2;
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.link-active{
  color: #766357;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.filter {
  color: #ffffff;
  background-color: #3d3d3d;
  background-image: url("../img/bg-filter.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3d3d3d;
  border: none;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover,
.button-brown:focus  {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus  {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
}

.button-filter {
  background-color: transparent;
}

.button-filter:hover {
  background-color: #ffffff;
  color: #000000;
}


.form-item input[type="text"],
.form-item button {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.form-item input[type="text"]:hover,
.form-item button:hover {
  background-color: #ebebeb;
}

.form-item input[type="text"]:focus,
.form-item button:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.social,
.result-list,
.sort-list,
.scroll-list,
.filter-list {
  list-style: none;
}
 
.social-link {
  color: #ffffff;
  background-color: #81b3d2;
}

.social-link:hover,
.social-link:focus {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.rating {
  background-color: #f2f2f2;
  color: #666666;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted;
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:active {
  color: #000000;
  border: none;
}