html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  position: relative;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
}

.nav a,
.title a,
.sort-direction a {
  text-decoration: none;
  color: #000000;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.reasons h2 {
  font-size: inherit;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.reasons-item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.reasons-item-title {
  font-size: 21px;
  line-height: 21px;
}

.reasons-item-description {
  margin: 0 50px;
  margin-top: 20px;
}

.reasons-item-number {
  
}

.reasons-item-number::after,
.reasons-item-number::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

h3.reasons-item-title {
  margin-top: 45px;
}

.reasons-item ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.reasons-item-blue {
  width: 400px;
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item-img {
  background-color: #cccccc;
  height: 100%;
}

.reasons-item-gray {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 33.3%;
  background-color: #eeeeee;
}

.reasons-sublist li {
  width: 33.3%;
}

.offers {
  position: relative;
}

.offers p {
  text-align: center;
}

.reasons-descr {
  color: #333333;
}

img {
  max-width: 100%;
}

.title {
  font-size: 21px;
  font-weight: 700;
  margin-top: 35px;
}

.maincontent > .title {
  text-align: center;
}

.title-result {
  margin: 0;
}

.title-result:hover,
.title-result:focus {
  color: #81b3d2;
}

.title-result:active {
  color: rgba(0, 0, 0, 0.3);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 530px;
  background-color: #cccccc;
  background-image: url("../img/polygon.svg"), url("../img/bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.nav-item {
  width: 240px;
  min-height: 56px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px 0;
}

.nav-item:nth-child(2) {
  margin-right: 100px;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2) {
  text-align: left;
}

.nav-item:nth-child(3),
.nav-item:nth-child(4) {
  text-align: right;
}

.nav-link:hover,
.nav-link:focus {
  color: #81b3d2;
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3)
}

.link-active{
  color: #766357;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 50px;
  margin-bottom: 25px;

}

.filter {
  color: #ffffff;
  background-color: #3d3d3d;
  background-image: url("../img/bg-filter.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3d3d3d;
  border: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-trigger,
.button-reservation {
  background-color: #766357;
  text-decoration: none;
}

.button-trigger {
  display: block;
  width: 568px;
  margin: 0 auto;
}

.button-trigger:hover,
.button-trigger:focus,
.button-reservation:hover,
.button-reservation:focus {
  background-color: #604e43;
}

.button-reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-search,
.button-details {
  background-color: #81b3d2;
  text-decoration: none;
}

.button-details,
.button-reservation {
  padding: 4px 12px;
  margin-right: 6px;
}

.button-trigger {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 40px;
  padding: 30px 0;
}

.button-search {
  display: block;
  width: 100%;
  height: 58px;
  margin: 30px auto 0;
  font-size: 21px;
  font-weight: 700;
}

.button-search:hover,
.button-search:focus,
.button-details:hover,
.button-details:focus  {
  background-color: #669ec0;
}

.button-search:active,
.button-details:active {
  background-color: #5496bd;
}

.button-filter {
  background-color: transparent;
}

.button-filter:hover {
  background-color: #ffffff;
  color: #000000;
}

.form-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 568px;
  transform: translateX(-50%);
  padding: 55px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.form-item {
  position: relative;
  display: block;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
  box-sizing: border-box;
  text-align: left;
}

.label {
  display: inline-block;
  vertical-align: baseline;
  width: 100px;
  text-align: left;
}

.checkin,
.checkout,
.input-people,
.button-add,
.button-remove {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.checkin:hover,
.checkout:hover,
.input-people:hover,
.button-add:hover,
.button-remove:hover {
  background-color: #ebebeb;
}

.checkin:focus,
.checkout:focus,
.input-people:focus,
.button-add:focus,
.button-remove:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.checkin,
.checkout {
  width: 340px;
  margin-left: 14px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 45px;

}

.input-people {
  width: 38px;
  height: 38px;
  text-align: center;
}

.item-people {
  display: flex;
  align-items: center;
  width: 50%;
}

.label-adults,
.label-children {
  margin-right: 30px;
}

.label-children {
  text-align: right;
}

.button-calendar {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.3;
}
.button-calendar:hover,
.button-calendar:focus {
  opacity: 0.6;
}

.button-remove,
.button-add {
  position: relative;
  width: 38px;
  height: 38px;
  font-size: 0;
}

.button-remove:active,
.button-add:active {
  opacity: 0.5;
}

.button-remove::after,
.button-add::after,
.button-remove::before,
.button-add::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  background-color: #a9a9a9;
}

.button-remove::after,
.button-add::after {
  width: 12px;
  height: 2px;
  transform: translate(-50%, -50%);
}

.button-add::before {
  width: 2px;
  height: 12px;
  transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  opacity: 0.9;
}

.footer-catalog {
  position: static;
}

.hashtag {
  font-size: 21px;
  font-weight: 700;
  margin-top: 40px ;
  margin-bottom: 40px;
}

.footer-tel {
  display: block;
  color: #000000;
  text-decoration: none;
}

.social,
.result-list,
.sort-list,
.sort-direction,
.filter-list {
  list-style: none;
  padding: 0;
}

.social {
  display: flex;
  align-items: center;
}

.social-item {
  background-color: #81b3d2;
  margin: 3px;
  height: 48px;
}
 
.social-link {
  position: relative;
  display: block;
  width: 46px;
  height: 100%;
  font-size: 0;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-link-tw::after {
  content: url("../img/twitter.svg");
  width: 17px;
  height: 15px;
}

.social-link-fb::after {
  content: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.social-link-yt::after {
  content: url("../img/youtube.svg");
  width: 20px;
  height: 16px;
}

.social-item:hover,
.social-item:focus {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.social-item:active .social-link::after {
  opacity: 0.3;
}

.author {
  display: flex;
  align-items: center;
}
.author-link,
.logo-htmlacademy {
  width: 115px;
  height: 41px;
  margin-left: 5px;
}

.author-link:hover .logo-htmlacademy path {
  fill: #81b3d2;
}

.author-link:active .logo-htmlacademy path {
  fill: #bdbbbc;
}

.rating-wrapper {
  margin-left: auto;
  min-width: 110px;
  text-align: center;
}

.stars {
  height: 17px;
  font-size: 0;
  margin: 0 3px;
  background-image: url("../img/star.svg");
  background-repeat: repeat-x;
  margin-left: auto;
}

.five-stars {
  width: 90px;
}

.four-stars {
  width: 72px;
}

.three-stars {
  width: 54px;
}

.two-stars {
  width: 36px;
}

.one-star {
  width: 18px;
}

.rating {
  background-color: #f2f2f2;
  color: #666666;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted;
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:active {
  color: #000000;
  border: none;
}

.result-item {
  display: flex;
  border-bottom: 1px solid #cccccc;
  padding: 30px 70px;
}

.result-item:first-child {
  border-top: 1px solid #cccccc;
}

.result-description {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
  margin-left: 30px;
}

.result-description > p {
  flex-grow: 1;
  flex-shrink: 0;
}
.result-description > a {
  flex-grow: 0;
}

.result-text > p {
  display: inline-block;
  margin: 3px 0;
}

.filter-form {
  display: flex;
}

.filter-list ul {
  list-style: none;
}

.filter-range {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filter-nav {
  display: flex;
}

.sort-list > li,
.sort-direction > li {
  display: inline-block;
}

.sort-direction {
  margin-left: auto;
}